@import url('base.css');
@import url('../components/codemirror/lib/codemirror.css');

html {
  height:100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background: transparent;
  color: hsl(34, 78%, 45%);
  font-family: 'Yanone Kaffeesatz', serif;
  font-style: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  font-size: 4vw;
}
section {
  margin: auto;
  text-align: center;
}
section video {
  width: 100%;
}

p { margin:0; text-align:center; }
p.note { font-size: 0.7em; color: #000; }
p code {
  padding: 0 0.2em;
  text-shadow: 0 0 0.1em rgba(255,255,255,0.4);
}
ul { margin: 0.2em 0; font-size:1.1em; }
li { text-align:left; }
h1, h2, h3, h4, h5, h6 { color: hsl( 216, 65%, 49% );  font-weight:bold; text-shadow: 0em 0em .02em #EEE, .01em .01em .03em  rgba( 0,0,0,0.4); margin-bottom:.1em; margin-top: 0;text-align:center; }
h1 { font-size:2.5em; }
h2 { font-size:2.2em; }
h3 { font-size:2em;   }
h4 { font-size:1.8em; }
h5 { font-size:1.4em; }
h6 { font-size:1.2em; font-weight:bolder; }

/* Based on Sublime Text's Monokai theme */
.CodeMirror-container {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
 -webkit-transition: background 0.8s ease-in-out;
  -moz-transition: background 0.8s ease-in-out;
  -o-transition: background 0.8s ease-in-out;
  -ms-transition: background 0.8s ease-in-out;
  transition: background 0.8s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  margin-bottom: 1em;
  height: auto;
  position: relative;
  font-size: 0.8em;
}
.CodeMirror-container:before {
  width: 150vw;
  height: 100%;
  position: absolute;
  left: -50vw;
  z-index: 0;
  content: ".";
  display: block;
  color: rgba(0,0,0,0);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.CodeMirror {
  height: auto;
  padding: 0.5em 0;
  text-align: left;
  margin: 0 auto;
  background: none;
  position: relative;
  z-index: 1;
}
body.loaded .CodeMirror-container:before {
  background: #333;
  box-shadow: inset 0 0.1em 0.2em rgba(0,0,0,0.6);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.compact .CodeMirror {
  font-size: 0.7em;
}
.compact-2 .CodeMirror {
  font-size: 0.6em;
}
.CodeMirror.shell {
  color: #CCC;
}
.CodeMirror.shell .command {
  color: rgb(22, 206, 37);
  min-width: 10em;
}

.CodeMirror-gutters {
  background: none;
  border-right: none;
}
.no-line-numbers .CodeMirror-gutters,
.no-line-numbers .CodeMirror-linenumber{
  display: none;
}
body .cm-s-monokai { 
  color: #F8F8F2; 
  font-size: 0.8em; 
  letter-spacing: -0.06em; 
  overflow: hidden;
}
.cm-s-monokai span.CodeMirror-selected { 
  background: #FFE792 !important; 
}
.cm-s-monokai .CodeMirror-gutter { background: transparent; border-right: 0px; }
.cm-s-monokai .CodeMirror-gutter-text { color: #d0d0d0; }
.cm-s-monokai .CodeMirror-cursor { border-left: 1px solid #F8F8F0 !important; }

.cm-s-monokai span.cm-comment { color: #75715E; }
.cm-s-monokai span.cm-atom { color: #AE81FF; }
.cm-s-monokai span.cm-number { color: #AE81FF; }

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {color: #A6E22E;}
.cm-s-monokai span.cm-keyword { color: #F92672; }
.cm-s-monokai span.cm-string { color: #E6DB74; }

.cm-s-monokai span.cm-variable {color: #A6E22E;}
.cm-s-monokai span.cm-variable-2 { color: #9effff; }
.cm-s-monokai span.cm-def { color: #FD971F; }
.cm-s-monokai span.cm-error { background: #F92672; color: #F8F8F0; }
.cm-s-monokai span.cm-bracket { color: #f8F8F2; }
.cm-s-monokai span.cm-tag {color: #F92672;}

.CodeMirror-matchingbracket{
	text-decoration: underline;
	color: white !important;
}
.CodeMirror-scroll{ height: auto; }
.CodeMirror pre { line-height: 0.94em; }
.cm-s-monokai .CodeMirror-gutter-text { margin-right: 1em; }

