@import url('base.css');

#slides.present > section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  display:-webkit-box;
  -webkit-box-align: center;
  text-align:center;
  background: #000;
  color: #FFF;
}

html, body { 
  height:100%; 
  width: 100%; 
  overflow: hidden; 
}
body {
  font-family: 'Yanone Kaffeesatz', serif;
  font-style: normal;
  text-shadow: 0px 0px 2px #185a89;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 0.9;
  color:#dc9e14;
  font-size:230%;
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden;
}

body > section {
  display:none;
}

iframe {
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
  border:0px none;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition:none;
 }
iframe.current { left: 0; z-index:1; opacity: 1 }
iframe.next, iframe.right {
  -webkit-transform: translate3d( 120%, 0, 0); 
  -moz-transform: translatex( 120% );
}
iframe.previous, iframe.left { 
  -webkit-transform: translate3d( -120%, 0, 0);
  -moz-transform: translatex( -120% );
}

iframe.next.vertical, iframe.next.vertical-in {
  -webkit-transform: translate3d( 0, 120%, 0); 
  -moz-transform: translatey( 120% );
}
iframe.previous.vertical, iframe.previous.vertical-out { 
  -webkit-transform: translate3d( 0, -120%, 0);
  -moz-transform: translatey( -120% );
}

iframe.prevNow, iframe.nextNow, iframe.immediate { }
iframe.animate {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#yasd-slide-marker {
   position: absolute;
   bottom: 0;
   right:0;
   font-size: 1.5em;
   text-shadow: 0px 0px 0.3em #145fdc;
   color: #145fdc;
   padding: j0.2em;
   z-index: 9001;
}
#console {
  z-index: 9000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba( 255, 255, 255, 0.3 );
  font-family: 'Droid Sans Mono', monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; 
  color: #000;
  text-shadow: none;
  color: #000;
  box-shadow: 0 0.4em 0.5em rgba(0,0,0,0.2);
}
#console > div {
  padding: 0.2em 0.5em;
}
#console > div::before {
  content: "► ";
}


#clouds{
  font-size:0.6em;
  padding: 10em 0;
  background: #c9dbe9;
  background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
  width: 20em; height:6em;
  background: #fff;
  
  border-radius: 20em;
  -moz-border-radius: 20em;
  -webkit-border-radius: 20em;
  
  position: relative; 
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute; 
  background: #fff;
  width: 10em; height: 8em;
  position: absolute; top: -1.5em; left: 1em;
  
  border-radius: 10em;
  -moz-border-radius: 10em;
  -webkit-border-radius: 10em;
  
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);

  -webkit-box-shadow: #FFF 0 0 10em;
}

.cloud:after {
  width: 12em; height: 12em;
  top: -5.5em; left: auto; right: 1.5em;
}

/*Time to animate*/
.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 20em;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; /*opacity proportional to the size*/
  
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x3 {
  left: -25em; top: -20em;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

.x4 {
  left: 47em; top: -25em;
  
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

.x5 {
  left: -15em; top: -15em;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {-webkit-trans: 100em;}
  100% {margin-left: -100em;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 100em;}
  100% {margin-left: -100em;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 100em;}
  100% {margin-left: -100em;}
}
